/.metadata/
/RemoteSystemsTempFiles/
/.jxbrowser-data/
.gitattributes
.gitignore
.DS_Store
RemoteSystemsTempFiles/.project
Term_Project_LCR/.DS_Store
.metadata/.log
.metadata/.plugins/com.ti.dvt.datamodel/SolutionMgr.xml
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/Buttons/com.ti.ccstudio.project.core/compilerSettings.cache
.metadata/.plugins/org.eclipse.core.resources/.projects/Buttons/com.ti.ccstudio.project.core/symbols_c.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/Buttons/com.ti.ccstudio.project.core/symbols_cpp.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/Display/com.ti.ccstudio.project.core/compilerSettings.cache
.metadata/.plugins/org.eclipse.core.resources/.projects/Display/com.ti.ccstudio.project.core/symbols_c.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/Display/com.ti.ccstudio.project.core/symbols_cpp.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR/com.ti.ccstudio.project.core/compilerSettings.cache
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR/com.ti.ccstudio.project.core/symbols_c.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR/com.ti.ccstudio.project.core/symbols_cpp.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR_Tester/com.ti.ccstudio.project.core/compilerSettings.cache
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR_Tester/com.ti.ccstudio.project.core/symbols_c.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR_Tester/com.ti.ccstudio.project.core/symbols_cpp.txt
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
.metadata/version.ini
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
.metadata/.plugins/org.eclipse.search/dialog_settings.xml
.metadata/.plugins/org.eclipse.rtsc.xdctools.model/XDCModel.log.lck
.metadata/.plugins/org.eclipse.rtsc.xdctools.model/XDCModel.log
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.nathans-macbook-pro_263300/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.nathans-macbook-pro_263300/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.nathans-macbook-pro_263300/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LCR_TESTER/2021/2/7/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LCR_TESTER/2021/2/7/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LCR/2021/2/7/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LCR/2021/2/7/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Display/2021/2/7/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Display/2021/2/7/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Buttons/2021/2/7/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Buttons/2021/2/7/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2021/2/7/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2021/2/7/refactorings.history
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.e4.ui.workbench.swt/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.search.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.dsf.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-LCR_Tester.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-LCR.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-Display.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-Buttons.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.system.setup.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.debug.ui.5.1.1.or.higher
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.branding.prefs
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR_Tester/com.ti.ccstudio.project.core/symbols_cpp.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR_Tester/com.ti.ccstudio.project.core/symbols_c.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR_Tester/com.ti.ccstudio.project.core/Debug/linkerFlags.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR_Tester/com.ti.ccstudio.project.core/Debug/benchmarks.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR_Tester/com.ti.ccstudio.project.core/Debug/advice.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR_Tester/com.ti.ccstudio.project.core/compilerSettings.cache
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR_Tester/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR_Tester/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR_Tester/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR/com.ti.ccstudio.project.core/symbols_cpp.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR/com.ti.ccstudio.project.core/symbols_c.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR/com.ti.ccstudio.project.core/Debug/linkerFlags.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR/com.ti.ccstudio.project.core/Debug/benchmarks.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR/com.ti.ccstudio.project.core/Debug/advice.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR/com.ti.ccstudio.project.core/compilerSettings.cache
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/LCR/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Display/com.ti.ccstudio.project.core/symbols_cpp.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/Display/com.ti.ccstudio.project.core/symbols_c.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/Display/com.ti.ccstudio.project.core/Debug/linkerFlags.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/Display/com.ti.ccstudio.project.core/Debug/benchmarks.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/Display/com.ti.ccstudio.project.core/Debug/advice.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/Display/com.ti.ccstudio.project.core/compilerSettings.cache
.metadata/.plugins/org.eclipse.core.resources/.projects/Display/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/Display/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/Display/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Buttons/com.ti.ccstudio.project.core/symbols_cpp.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/Buttons/com.ti.ccstudio.project.core/symbols_c.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/Buttons/com.ti.ccstudio.project.core/Debug/linkerFlags.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/Buttons/com.ti.ccstudio.project.core/Debug/benchmarks.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/Buttons/com.ti.ccstudio.project.core/Debug/advice.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/Buttons/com.ti.ccstudio.project.core/compilerSettings.cache
.metadata/.plugins/org.eclipse.core.resources/.projects/Buttons/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/Buttons/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/Buttons/.indexes/properties.index
.metadata/.plugins/org.eclipse.cdt.ui/LCR_TESTER.build.log
.metadata/.plugins/org.eclipse.cdt.ui/LCR.build.log
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.cdt.ui/Display.build.log
.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.ui/Buttons.build.log
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.dsf.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.core/LCR_Tester.1613090000892.pdom
.metadata/.plugins/org.eclipse.cdt.core/LCR.1613078245045.pdom
.metadata/.plugins/org.eclipse.cdt.core/Display.1612384184387.pdom
.metadata/.plugins/org.eclipse.cdt.core/Buttons.1613090389804.pdom
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/com.ti.dvt.ideadapter/IDEAdapterMgr.xml
.metadata/.plugins/com.ti.dvt.energytrace/etpo.xml
.metadata/.plugins/com.ti.dvt.energytrace/EnergyTrace.xml
.metadata/.plugins/com.ti.dvt.datamodel/SolutionMgr.xml
.metadata/.plugins/com.ti.dvt.analyzersuite/TransportParams.xml
.metadata/.plugins/com.ti.ccstudio.project.ui/dialog_settings.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/TMS470_20.2.4.LTS.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/MSP432_20.2.4.LTS.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/MSP430_20.2.3.LTS.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/TMS470_20.2.4.LTS.txt
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/MSP432_20.2.4.LTS.txt
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/MSP430_20.2.3.LTS.txt
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/hex/C2000_20.2.4.LTS.txt
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/native/C2000_20.2.4.LTS.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/10.2.0.002/TMS470_GNU_9.0.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/10.2.0.002/TMS470_20.2.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/10.2.0.002/TMS470.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/10.2.0.002/PRU.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/10.2.0.002/MSP432_GNU_9.0.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/10.2.0.002/MSP432_20.2.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/10.2.0.002/MSP432.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/10.2.0.002/MSP430_20.2.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/10.2.0.002/MSP430.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/10.2.0.002/C2000_20.2.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/10.2.0.002/C2000.xml
.metadata/.log
.metadata/.lock
.metadata/.bak_9.log
.metadata/.bak_8.log
.metadata/.bak_7.log
.metadata/.bak_6.log
.metadata/.bak_5.log
.metadata/.bak_4.log
.metadata/.bak_3.log
.metadata/.bak_2.log
.metadata/.bak_1.log
.metadata/.bak_0.log
.DS_Store
RemoteSystemsTempFiles/.project
